<h1>header</h1>
<nav class="nav">
<a href="#" class="home">Go to home page</a> | 
<a href="#hello" class="hello">Go to other page</a> | 
<a href="#private" class="private">Go to private page</a>
</nav>